
 
<div class="row">
  <div class="col-md-6">
      <form class="form-inline" action="/showusers" method="POST"  role="form">
                  <div class="form-group">
        <input type="barbername" name="newbarber" class="form-control"  placeholder="Введите имя нового парекмахера">
      </div>
      
      <button type="submit" class="btn btn-default">Записать</button>
        </form>
      </div>
      <div class="col-md-6">
      <form class="form-inline" action="/showusers" method="POST"  role="form">
  <select class="form-control" name="delbarb">

  <% @barbers.each do |item| %>
        <option> <%= item.name %></option>
      <% end %>
  
  </select>
<button type="submit" class="btn btn-default">Удалить</button>
</form>
  </div>
</div>


<p></p></br>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Телефон</th>
      <th>Дата</th>
      <th>Парикмахер</th>
      <th>Цвет</th>
    </tr>
  </thead>
  <tbody>
          <% @results.each do |row| %>
 <tr>
      <td><a href="/client/<%= row.id%>"><%= row.name %></a></td>
      <td><%= row.phone %></td>
      <td><%= row.datestamp %></td>
      <td><%= row.barber %></td>
      <td style="background-color: <%= row['color'] %>"><%= row.color %></td>
 </tr>
            <% end %>
</tbody>
</table>
			     

