
<div class="col-md-4">

<div ><h2><p class="text-primary">Записаться</p></h2></div>
<div><p class="text-info">На этой странице вы можете записаться в Barber Shop</p></div>

<form action="/visit" method="POST"  role="form" >
<div class="form-group">
    <label>Имя</label>
    <input type="text" name='client[name]' class="form-control"  placeholder="Jane Doe" value="<%= @c.name %>" >
  </div>
  <div class="form-group">
    <label>Телефон</label>
    <input type="text" name='client[phone]' class="form-control"  placeholder="079 515151" value="<%= @c.phone %>"
  </div>
<p></p>
  <div class="form-grup">
		  <label>Выберите парикмахера</label>
		  <select class="form-control" id="barbername" name="client[barber]" value = <%= @c.barber %> >
		  <% @barbers.each do |item| %>
        <option <%= @c.barber == item.name ? 'selected' : '' %>><%= item.name %></option>
      <% end %>
		  </select>
</div>	
<p></p>
<label>Выберите дату и время</label>
<div class="form-grup">
 <input class="form-control" name ='client[datestamp]' id="datetimepicker_rantime" type="text" value="<%= @c.datestamp %>">
</div>

  <p></p>
 <div class="form-group"> 
  <label>Выберите цвет</label>
  <select id="color" name='client[color]'>
  <option value="#7bd148">Green</option>
  <option value="#5484ed">Bold blue</option>
  <option value="#a4bdfc">Blue</option>
  <option value="#46d6db">Turquoise</option>
  <option value="#7ae7bf">Light green</option>
  <option value="#51b749">Bold green</option>
  <option value="#fbd75b">Yellow</option>
  <option value="#ffb878">Orange</option>
  <option value="#ff887c">Red</option>
  <option value="#dc2127">Bold red</option>
  <option value="#dbadff">Purple</option>
  <option value="#e1e1e1">Gray</option>
</select>
</div>

  <p></p>
<div class="form-group">
	<button type="submit" class="btn btn-primary btn-lg btn-block" >Отправить</button>
</div>

  

</form>

</div>


<script type="text/javascript">

$(function() {
  $('#color').simplecolorpicker();
});
</script>

<script type="text/javascript">
  var logic = function( currentDateTime ){
  // 'this' is jquery object datetimepicker
  if( currentDateTime.getDay()==0 ){
    this.setOptions({
      minTime:'10:00',
      maxTime:'16:00',
      minDate:0
    });
  }else
    this.setOptions({
      minTime:'9:00',
      maxTime:'19:00',
      minDate:0      
    });
};
jQuery('#datetimepicker_rantime').datetimepicker({
  onChangeDateTime:logic,
  onShow:logic
});
$.datetimepicker.setLocale('ru');
</script>


